# Settings
WEB_APP_BASE=https://litten.app
FIREBASE_AUTH_EMULATOR_HOST=http://localhost:9099
FIRESTORE_EMULATOR_HOST=localhost:8080
FIRESTORE_EMULATOR_PERSISTENCE=true
USE_FIREBASE_EMULATOR=true
USE_REDUX_DEVTOOLS_LOCAL_SERVER=true
IS_BETA_RELASE=true
USE_GRAVATAR=true

# API keys
GOOGLE_API_KEY=
JIRA_API_KEY=
JIRA_EMAIL=

# API endpoints
JIRA_TICKET_URL=
JIRA_UPLOAD_ATTACHMENT=
JIRA_APPEND_ATTACHMENT=
SLACK_WEBHOOK_URL=
