# This workflow will do a clean install of node dependencies, build the source
# code and run the available tests
#
name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    environment: development
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Create .env file
      run: cp .env.example .env

    - uses: c-hive/gha-yarn-cache@v1
    - name: Install dependencies
      run: yarn --frozen-lockfile
    - name: Install typings
      run: yarn flow-typed install
    - name: Temporary workaround (for the @react-navigation types)
      run: rm -rf flow-typed/npm/@react-navigation/

    - name: Lint the source files
      run: yarn lint
    - name: Type check
      run: yarn type-check
    - name: Validate the translations
      run: yarn translations-check
    - name: Execute the tests
      run: yarn test
    - name: Execute the firebase rules tests
      run: yarn test:firestore:rules
    - name: Execute the firebase model tests
      run: yarn test:firestore:model

    - name: Cache firebase emulators
      uses: actions/cache@v2
      with:
        path: ~/.cache/firebase/emulators/
        key: ${{ runner.os }}-firebase-emulators-${{ hashFiles('~/.cache/firebase/emulators/**') }}
      continue-on-error: true
